<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/icon4.png">

    <title>Malleable</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/third_party/bootstrap-4.1.3.min.css">
    
    <!-- Custom styles for this template -->
    <style>
      body{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display:flex;
        align-items:center;
        justify-content: center;
      }
      
      .word-card {
        width: 360px;
        min-height: 400px;
        z-index:1;
        padding-top:20px;
      }

      
      .word-input {
        width: 170px;
        margin: auto;
      }

      .partofspeech{
        color: #3EB3C0;
      }

      .input-group{
        position: fixed;
        top:0;
      }

      .bottombar{
        position: absolute;
        bottom: 30px;
        width:100%;
      }

      #phonetic{
        margin: 10px;
        margin-top:-10px;
      }

      .word-success{
        color: #49574b !important; 
        background-color: #fff !important;
        border-color: #a6f7a8 !important;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(107, 204, 119, 0.23) !important;
      }

      .word-label{
        position: absolute;
        top: 10px;
        right: 10px;
        height: 20px;
      }

      #explains{
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 100px;
      }
    </style>
  </head>

  <body>
      <div class="input-group">
          <div class="input-group-prepend">
              <label class="input-group-text" for="word_list_selector">Word List</label>
          </div>
          <select class="custom-select" id="word_list_selector">
          </select>
          <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#config-modal"> Lab</button>
      </div>
      <div class="card word-card text-center">

        <audio id="speech" type="audio/mp3" src=""></audio>
        <div class="word-display">
            <div class="word-label">
              <inline class="badge badge-primary" id="word-label"></inline>
            </div>
            <h1 id="phonetic"> </h1>
            <div id="explains"></div>
        </div>
        <div class="bottombar">
          <p><a href="" id="cheat" target="_blank">Cheat Link</a></p>
          <form action="javascript:submit()">
              <input type="text" class="form-control word-input input-success" id="word-input" placeholder="Enter the word" autofocus autocomplete="off" oninput="inputCheck()">
          </form>
        </div>
      </div>
      <br/>
      


    <!-- laboratory -->
    <div class="modal fade" id="config-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Wow.. You Found Me!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="config-modal">
            <p><button type="button" id="auto-submit" class="btn btn-outline-secondary" onclick="auto_sumbit_switch()">Auto Submit: Off</button></p>
            <p><button type="button" id="show-label" class="btn btn-outline-secondary" onclick="show_label_switch()">Label: Off</button></p>
            <p><button type="button" id="show-label" class="btn btn-outline-danger" onclick="localStorage.setItem('known-words','')">Clean Known Words</button></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
          
  </body>

  <script src="/static/third_party/jquery-3.3.1.min.js"></script>
  <script src="/static/third_party/popper-1.14.3.min.js"></script>
  <script src="/static/third_party/bootstrap-4.1.3.min.js"></script>

  <script>
    let answer = "hackstring"
    let word_list = []
    let word_p = 0
    
    $(function() {
      //rand()
      load_config()
      render_list_selector()
      //check()
    })

    function set_auto_submit_on() {
      $("#auto-submit").removeClass("btn-outline-primary")
      $("#auto-submit").removeClass("btn-outline-secondary")

      $("#auto-submit").addClass("btn-outline-primary")
      $("#auto-submit").text("Auto Submit: On")
      localStorage.setItem("auto-submit", "on")
    }

    function set_auto_submit_off() {
      $("#auto-submit").removeClass("btn-outline-primary")
      $("#auto-submit").removeClass("btn-outline-secondary")

      $("#auto-submit").addClass("btn-outline-secondary")
      $("#auto-submit").text("Auto Submit: Off")
      localStorage.setItem("auto-submit", "off")
    }


    function set_show_label_on() {
      $("#show-label").removeClass("btn-outline-primary")
      $("#show-label").removeClass("btn-outline-secondary")

      $("#show-label").addClass("btn-outline-primary")
      $("#show-label").text("Label: On")
      localStorage.setItem("show-label", "on")
    }

    function set_show_label_off() {
      $("#show-label").removeClass("btn-outline-primary")
      $("#show-label").removeClass("btn-outline-secondary")

      $("#show-label").addClass("btn-outline-secondary")
      $("#show-label").text("Label: Off")
      $("#word-label").text("")
      localStorage.setItem("show-label", "off")
    }

    function load_config() {
      if (localStorage.getItem("auto-submit") === "on") {
        set_auto_submit_on()
      } else {
        set_auto_submit_off()
      }
      if (localStorage.getItem("show-label") === "on") {
        set_show_label_on()
      } else {
        set_show_label_off()
      }
    }

    function auto_sumbit_switch() {
      if (localStorage.getItem("auto-submit") === "on") {
        set_auto_submit_off()
      } else {
        set_auto_submit_on()
      }
    }
    
    function show_label_switch() {
      if (localStorage.getItem("show-label") === "on") {
        set_show_label_off()
      } else {
        set_show_label_on()
      }
    }
    
    function inputCheck(){
      let inp = $("#word-input").val()
      if (inp == answer) {
        $("#word-input").addClass("word-success")
        if (localStorage.getItem("auto-submit") === "on" ){
          setTimeout("submit()",250)
        }
      }else{
        $("#word-input").removeClass("word-success")
      }
    }


    function render_list_selector() {
      $.getJSON("/list_names", function(r, status) {
        if (r.error || status != "success") {
          console.log("error in render_list_selector")
          console.log(r.error_msg)
          setTimeout(render_list_selector, 1000)
        } else {
          if (!getCookie("last_word_list") || r["lists"].indexOf(getCookie("last_word_list")) == -1) {
            setCookie("last_word_list", r["lists"][0])
          }

          let last = getCookie("last_word_list")
          r["lists"].forEach(l => {
            if (l == last) {
              $('#word_list_selector').append('<option value="' + l +'" selected>'+ l + '</option>');
              set_word_list(l)
            } else {
              $('#word_list_selector').append('<option value="' + l +'">'+ l + '</option>');
            }
          });

          $("#word_list_selector").change(function() {
            let l = $("#word_list_selector").val()
            setCookie("last_word_list", l)
            set_word_list(l)
          });
        }
      });
    }

    function set_word_list(l) {
      $.getJSON("/word_list?name=" + l, function(r, status) {
        if (r.error || status != "success") {
          console.log("error in set_word_list")
          console.log(r.error_msg)
          alert(r.error_msg)
        } else {
          word_list = r["words"]
          word_list = shuffle(word_list)
          next_word()
        }
      });
    }
    function next_word() {
      word_p = (word_p + 1) % word_list.length
      let w = word_list[word_p]
      render(w.word, w.phonetic, w.explains, w.speech_url)
    }

    function replace_word(l, word) {
      let w = word[0].toUpperCase() + word.slice(1) // capitalise first letter
      return l.replace(w, "xxx")
    }


    function mark_part_of_speech(l){
      l=l.replace(/^n\./,'<em class="partofspeech">n.</em>')
      l=l.replace(/^adj\./,'<em class="partofspeech">adj.</em>')
      l=l.replace(/^vi\./,'<em class="partofspeech">vi.</em>')
      l=l.replace(/^vt\./,'<em class="partofspeech">vt.</em>')
      l=l.replace(/^v\./,'<em class="partofspeech">v.</em>')
      l=l.replace(/^int\./,'<em class="partofspeech">int.</em>')
      l=l.replace(/^adv\./,'<em class="partofspeech">adv.</em>')
      return l
    }

    function render_label(word){
      if (localStorage.getItem("show-label") !== "on"){
        return
      }
      known_words = localStorage.getItem("known-words") || "{}"
      known_words = JSON.parse(known_words)
      times = 0
      if(word in known_words){
        known_words[word]+=1
        times = known_words[word]
      }else{
        known_words[word]=1
        times = 1
      }
      localStorage.setItem("known-words",JSON.stringify(known_words))
      $("#word-label").text(times+"x")
    }

    function render(word, phonetic, explains, speech_url) {
      $("#phonetic").text(phonetic)
      $("#explains").html("")
      $.each(explains, function(_, l) {
        l = replace_word(l, word)
        l = mark_part_of_speech(l)
        $("#explains").append("<p>"+l+"</p>")
      })
      $("#speech").attr("src", speech_url)
      $("#cheat").attr("href", "https://dict.youdao.com/w/eng/" + word)
      render_label(word)
      answer = word
      play()
    }

    function rand() {
      $.getJSON("/rand", function(r, status) {
        if (r.error || status != "success") {
          console.log(r.word)
          console.log(r.error_msg)
          alert(r.error_msg)
          answer = "hackstring";
        } else {
          render(r.word, r.phonetic, r.explains, r.speech_url)
        }
      });
    }


    function submit() {
      let inp = $("#word-input").val()
      if (inp == answer) {
        $("#word-input").val("")
        $("#word-input").removeClass("word-success")
        next_word()
      } else {
        play()
        $("#word-input").val("")
        $("#word-input").removeClass("word-success")
        $("#word-input").focus()
      }
    }

    function play() {
      let a = $("#speech")[0]
      a.currentTime = 0;
      a.play();
    }

    // code from: https://stackoverflow.com/a/6274398
    function shuffle(array) {
      let counter = array.length;

      // While there are elements in the array
      while (counter > 0) {
          // Pick a random index
          let index = Math.floor(Math.random() * counter);

          // Decrease counter by 1
          counter--;

          // And swap the last element with it
          let temp = array[counter];
          array[counter] = array[index];
          array[index] = temp;
      }

      return array;
    }

    // cookie utilities from: https://stackoverflow.com/a/24103596
    function setCookie(name,value,days) {
      var expires = "";
      if (days) {
          var date = new Date();
          date.setTime(date.getTime() + (days*24*60*60*1000));
          expires = "; expires=" + date.toUTCString();
      }
      document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }
    function getCookie(name) {
      var nameEQ = name + "=";
      var ca = document.cookie.split(';');
      for(var i=0;i < ca.length;i++) {
          var c = ca[i];
          while (c.charAt(0)==' ') c = c.substring(1,c.length);
          if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
      }
      return null;
    }
    function eraseCookie(name) {   
      document.cookie = name+'=; Max-Age=-99999999;';  
    }
  </script>

  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="https://piwik.enj0.com/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '9']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Piwik Code -->
</html>